<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Jensen Specht</title>
</head>
<body>
<h1>Jensen Specht</h1>
<img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width = "267" height = "72" alt = "Smith Logo">
<br><br>

<!--linking back to the hello page using href relative reference -->
<a href = "/hello">Back to hello page</a>

<h2>Education</h2>
<p>Jensen Specht attended <em>Towson High School</em> in Towson, Maryland and graduated with a 3.9 GPA.
    He played Varsity soccer and tennis, and was a part of many clubs and honor societies at THS.
    He's now in his Junior year at the <em>University of Maryland, College Park</em>, studying Information
    Systems and Operations Management and Business Analytics. </p>

<!--Ordered list of my favorite classes at UMD so far. -->
    <h3>Favorite Classes at UMD</h3>
        <ol><li>BMGT 403</li>
        <li>BMGT 402</li>
        <li>PHYS 106</li></ol>

        <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT 403</td>
                <td>Fall 2025</td>
            </tr>
            <tr>
                <td>AREC 280</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>CMSC 132</td>
                <td>Spring 2024</td>
            </tr>

        </table>

<h2>Hobbies</h2>

<p>Jensen has a wide range of hobbies that he enjoys. He likes to spend a lot of time outside
and also has hobbies he can appreciate by himself or with company.</p>

<!--Unordered list of hobbies, 2 with href outside of the parent webpage. One opens a new
 tab and one stays in the current tab.-->
<ul>
    <li>Soccer (<a href = "https://schalke04.de/en/" target = "_blank">Favorite Soccer Team,
        Schalke</a>) </li>
    <li>Tennis (<a href = "https://en.wikipedia.org/wiki/Rafael_Nadal">Favorite Tennis Player,
        Rafa Nadal</a>)</li>
    <li>Golf</li>
    <li>Fishing</li>
    <li>Guitar</li>
    <li>Video games</li>
</ul>

</body>
</html>